# Python
__pycache__/
*.pyc
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
tfplan
crash.log

# Secrets
secrets/

# Logs
*.log

# VSCode
.vscode/

# macOS
.DS_Store
# ArgoCD SSH Keys
secrets/argocd/argocd-github

# Repository Secret containing private key
gitops/repository-secret.yaml

app/.env