{% extends "base.html" %}

{% block title %}Helm Security{% endblock %}

{% block content %}

<div class="container-fluid mt-4">

    <h2>⛵ Helm Security</h2>

    <div class="card">

        <div class="card-body">

            <h4>Helm Chart Security</h4>

            <hr>

            <p>
                Helm chart security scanning will be available here.
            </p>

            <p>
                This module will validate:

                <ul>
                    <li>Chart Best Practices</li>
                    <li>Security Misconfigurations</li>
                    <li>Image References</li>
                    <li>Values Validation</li>
                </ul>

            </p>

        </div>

    </div>

</div>

{% endblock %}