{% extends "base.html" %}

{% block title %}Security Policies{% endblock %}

{% block content %}

<div class="container-fluid mt-4">

    <h2>Security Policies</h2>

    <hr>

    <div class="row">

        <div class="col-md-4 mb-4">

            <div class="card">

                <div class="card-body">

                    <h4>Policy Mode</h4>

                    <p>Audit</p>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <div class="card-body">

                    <h4>Block Critical</h4>

                    <p>Enabled</p>

                </div>

            </div>

        </div>

        <div class="col-md-4 mb-4">

            <div class="card">

                <div class="card-body">

                    <h4>High Threshold</h4>

                    <p>10</p>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}